[tool.black]
line-length = 120
target_version = ['py38']
# py39 not release yet

[tool.isort]
combine_as_imports = true
from_first = false
include_trailing_comma = true
length_sort = false
multi_line_output = 3
order_by_type = true
line_length = 120
force_grid_wrap = 0
